*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f2f2f2;
    font-family: Courier;
    font-size: 1.2em;
    text-align: center;
}
.container {
    margin: 0px 20px;
    background-color: darkcyan;
    padding: 25px
}
h2{
    font-weight: bold;
    color: #000;
    font-family: 'Sans-serif';
    font-size: 2.2em;
    padding: 20px;

}
.main p{
    margin: 20px;
    background-color: gray;
    color: white;
    font-weight: 100;
    
}