*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f2f2f2;
    font-family: 'Arial';
    font-size: 1.2em;
    text-align: center;
}
.container {
    margin: 0px 20px;
    background-color: darkcyan;
    padding: 25px
}
h1{
    margin: 20px;
}
h2{
    font-weight: bold;
    color: #000;
    font-family: 'Sans-serif';
    font-size: 2.2em;
    padding: 20px;

}
.main p{
    margin: 40px 0px;
    background-color: gray;
    color: white;
    font-weight: 100;
    
}
.compras{
    font-family: 'TimesNewRoman';
    font-size: 2.4em;
    color: orange;
    background-color: white;
    padding: 20px;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 10px;

}
.compras:hover{
    background: yellowgreen;
    animation: 2s all ease-in-out;
    cursor: pointer;
    color: #ffff;
}