*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff60;
    font-family: 'Helvetica';
    font-size: 1.2em;
    
}

h1{
    margin: 20px;
}
h2{
    font-weight: bold;
    color: rgb(233, 20, 233);
    font-family: 'Sans-serif';
    font-size: 2.2em;
    padding: 20px;

}
.main p{
    margin: 20px;
    background-color: gray;
    color: white;
    font-weight: 100;
    
}
.compras{
    font-family: 'TimesNewRoman';
    font-size: 2.4em;
    color: orange;
    background-color: white;
    padding: 20px;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 10px;

}
.compras:hover{
    background: yellowgreen;
    animation: 2s all ease-in-out;
    cursor: pointer;
    color: #ffff;
}
.footer{
    
    color: white;
    background: #777;
    text-align: center;
    padding: 20px;
    font-family: 'TimesNewRoman';
    font-size: 1.3em;
}
.Logo{
    width: 5%;
    background: darkblue;
}